<div class="chat-container">

    <div class="messages" id="messageContainer">
        <div 
            *ngFor="let message of this.chatService.chatMessages" 
            class="message" 
            [ngClass]="message.name == this.chatService.socketService.user.role ? 'sent' : 'received'"
        >
        <strong>{{ message.name }}:</strong> {{ message.message }}
        </div>
    </div>
    <div class="input-container">
        <input type="text" [(ngModel)]="messageInput" id="messageInput" class="message-input" placeholder="Type a message..." />
        <button id="sendButton" (click)="sendMessage()"  class="send-button">Send</button>
    </div>
</div>
