<div *ngIf="visible" class="task-container">
    <!-- Top Row -->
    <div class="top-row">
      <!-- Task Type with Image -->
      <div class="task-type">
        <img
          *ngIf="taskType === 'physical'"
          class="logo"
          src="assets/images/muscle_logo.jpg"
          alt="Physical Task"
        />
        <img
          *ngIf="taskType === 'moral'"
          class="logo"
          src="assets/images/brain_logo.jpg"
          alt="Moral Task"
        />
        <span class="task-title">{{ title }}</span>
      </div>
  
      <!-- Dates -->
      <div class="dates">
        <div class="date-creation">Created: {{ creationDate | date: 'shortDate' }}</div>
        <div class="date-due">Due: {{ task_date | date: 'shortDate' }}</div>
        <div class="duration">Duration: {{ duration }} hours</div>
      </div>
    </div>
  
    <!-- Description -->
    <div class="description">{{ description }}</div>
  
    <!-- Bottom Row -->
    <div class="bottom-row">

        <!-- Distance (middle right) -->
        <div class="distance">{{ distance }}</div>
        <div class="bottom-right">
            <!-- Status with dynamic color -->
            <div *ngIf="this.taskStatus == 'accepted'" class="chat-icon" (click)="toggleChat()">
              <i class="far fa-comments"></i>
            </div>
        
            <div *ngIf="this.taskStatus == 'published' && this.userType == 'elder'" (click)="removeTask()" class="trash-icon">
                <i class="fas fa-trash"></i>
            </div>

            <button *ngIf="this.taskStatus == 'published' && this.userType != 'elder'"  (click)="acceptTask()" class="trash-icon" [ngClass]="{
                'status': true,
            }">APPPLY
        </button>
            <div *ngIf="this.taskStatus == 'accepted' && this.userType != 'elder'" (click)="completeTask()" class="trash-icon complete-icon" [ngClass]="{
                'status': true,
                'status-active': true
            }">
            <i class="fas fa-check-circle"></i>
            </div>
      </div>
    </div>
  </div>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">