<div *ngIf="visible" class="task-container">
    <!-- Top Row -->
    <div class="top-row">
      <!-- Task Type with Image -->
      <div class="task-type">
        <img
          *ngIf="taskType === 'physical'"
          class="logo"
          src="assets/images/muscle_logo.jpg"
          alt="Physical Task"
        />
        <img
          *ngIf="taskType === 'moral'"
          class="logo"
          src="assets/images/brain_logo.jpg"
          alt="Moral Task"
        />
        <span class="task-title">{{ title }}</span>
      </div>
  
      <!-- Dates -->
      <div class="dates">
        <div class="date-creation">Created: {{ creationDate | date: 'shortDate' }}</div>
        <div class="date-due">Due: {{ task_date | date: 'shortDate' }}</div>
        <div class="duration">Duration: {{ duration }} hours</div>
      </div>
    </div>
  
    <!-- Description -->
    <div class="description">{{ description }}</div>
  
    <!-- Bottom Row -->
    <div class="bottom-row">
      <div class="distance">{{ distance }}</div>
      <div class="bottom-right">
        <!-- Chat Icon -->
        <div *ngIf="taskStatus === 'accepted'" class="chat-icon" (click)="toggleChat()">
          CHAT
        </div>
        <!-- Trash Icon -->
        <div *ngIf="taskStatus === 'published' && userType === 'elder'" class="trash-icon">
          <i class="fas fa-trash"></i>
        </div>
        <!-- Apply Button -->
        <div
          *ngIf="taskStatus === 'published' && userType !== 'elder'"
          class="status status-active"
        >
          {{ taskStatus === 'published' ? 'APPLY' : 'CANT APPLY' }}
        </div>
        <!-- Finish Task Button -->
        <div
          *ngIf="taskStatus === 'accepted' && userType !== 'elder'"
          class="status status-active"
        >
          Finish Task
        </div>
      </div>
    </div>
  </div>