<div id="header">
    <img src="assets/logo.png" class="logo" alt="Logo of Senevolus" (click)="navigate('home')">
    <div id="control-icons">
        <p *ngIf="this.type=='elder'" (click)="navigate('elderTaskPage')">MY TASK</p>
        <p *ngIf="this.type=='elder'" (click)="navigate('create-task')">CREATE TASK</p>
        <p *ngIf="this.type=='volunteer'" (click)="navigate('volunteerTaskPage')">My Tasks</p>
        <p *ngIf="this.type=='volunteer'" (click)="navigate('shop')">Shop</p>
        <p *ngIf="this.type=='volunteer'">{{this.points}} Points</p>
        <p  (click)="navigate('profile')">PROFILE</p>
    </div>
</div>
