<div class="task-list">
    <app-task
      *ngFor="let task of tasks"
      [_id]="task._id"
      [visible]="task.status==this.section"
      [taskType]="task.type"
      [description]="task.description"
      [distance]="task.address.name"
      [creationDate]="task.date_created"
      [task_date]="task.task_date"
      [taskStatus]="task.status"
      [duration]="task.hour_duration"
      [elder_id]="task.elder_id"
      [volunteer_id]="task.volunteer_id"
      [title]="task.title"></app-task>
</div>
  


