<app-app-header type="volunteer"></app-app-header>
<div class="profile-container">
  <img src="src/assets/profile-pic.png" alt="Profile Picture" class="profile-pic">

  <form class="profile-form">
    <div class="form-group">
      <p class="form-label">John</p>
    </div>
    <div class="form-group">
      <p class="form-label">Bob</p>
    </div>
    <div class="form-group">
      <p class="form-label">96 years old</p>
    </div>
    <div class="form-group">
      <label for="biography" class="form-label">Biography</label>
      <textarea id="biography" class="form-input" rows="5" placeholder="Tell us about yourself" required></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="submit-button">Submit</button>
    </div>
  </form>
</div>