<app-app-header type="volunteer"></app-app-header>
<div class="profile-container">
  <img src="assets/profile-pic.png" alt="Profile Picture" class="profile-pic">

  <form class="profile-form">
    <div class="form-group">
      <p class="form-label">{{this.firstName}}</p>
    </div>
    <div class="form-group">
      <p class="form-label">{{this.lastName}}</p>
    </div>
    <div class="form-group">
      <p class="form-label">{{this.age}} years old</p>
    </div>
    <div class="form-group">
      <p class="form-label">{{this.description}}</p>
    </div>
    <div class="form-group">
      <button type="submit" class="submit-button">Submit</button>
    </div>
  </form>
</div>